---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Login</h1>
    <form id="login">
      <input type="text" name="userName" placeholder="userName" />
      <input type="password" name="password" placeholder="password" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>

<script>
  const form = document.getElementById("login") as HTMLFormElement;
  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const data = Object.fromEntries(formData);
    const response = await fetch("http://localhost:8080/login", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    });

    const result: { success: boolean; jwt: string } = await response.json();
    if (result.success) {
      document.cookie = `token=${result.jwt}`;
      const anchor = document.createElement("a");
      anchor.href = "/profile";
      anchor.click();
    }
  });

  const response = await fetch("http://localhost:8080/profile", {
    method: "GET",
    headers: {
      Authorization: `Bearer ${document.cookie}`,
      "Content-Type": "application/json",
    },
  });

  const result: {
    user: {
      id: string;
      userName: string;
      password: string;
      firstName: string;
      lastName: string;
    };
  } = await response.json();

  if (result.user) {
    const anchor = document.createElement("a");
    anchor.href = "/profile";
    anchor.click();
  }
</script>
